h1{
  color: darkblue;
  text-align: center;
}
h3{
  margin-left: 10px;
  margin-bottom: -20px;
}
p{
  margin-left: 35px;
}
#para1{
  margin-left: 10px;
}
a:link{
  color: blue;
}
a:visited{
  color: darkviolet;
}
a:hover{
  color: green;
  text-decoration: underline;
}
a:active{
  color: pink;
}
